<nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <!-- <img src="../../statics/imagen/logo.png" width="30" height="24" alt="Logo de la pagina">-->
            <img class="img-responsive" th:src="@{/imagen/logo-salud.png}" width="70" height="55" alt="logo nav">
        </a>
    </div>

    <div class="collapse navbar-collapse  d-flex justify-content-end align-items-center" id="navbarNav">



        <ul class="navbar-nav d-flex justify-content-end align-items-center">

            <li class="nav-item">
                <a class="nav-link"  th:if="${session.usuariosession != null}" aria-current="page" th:href="@{/inicio}">Inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"  th:if="${session.usuariosession != null}" th:href="@{/paciente/listar}" sec:authorize="hasAnyRole('PROFESIONAL', 'ROLE_ADMIN')">Pacientes</a>
            </li>                            

            <li class="nav-item">
                <a class="nav-link"  th:if="${session.usuariosession != null}" th:href="@{/profesional/listar}" sec:authorize="hasAnyRole('PACIENTE', 'ROLE_ADMIN')">Profesionales</a>
            </li>

            <li class="nav-item">
                <a class="nav-link"  th:if="${session.usuariosession != null}"  th:href="@{#}">Turnos</a>
            </li>
<!--
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" th:href="@{#}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Más
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" >Contacto</a>
                    <a class="dropdown-item" >Nosotros</a>
                    <a class="dropdown-item" >Preguntas frecuentes</a>
                </div>
            </li>
-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" th:href="@{#}" sec:authorize="hasRole('ADMIN')" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ADMIN
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/admin/registrar-profesional}">Crear Profesional</a>
                    <a class="dropdown-item" th:href="@{#}" >Eliminar Profesional</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:if="${session.usuariosession != null}" th:href="@{#}"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfil
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('PROFESIONAL')" th:href="@{/profesional/modificar/__${session.usuariosession.id}__}">Editar</a>
                    <a class="dropdown-item" th:if="${session.usuariosession != null}" sec:authorize="hasAnyRole('PACIENTE')" th:href="@{/paciente/modificar/__${session.usuariosession.id}__}">Editar</a>
                    <a class="dropdown-item" th:href="@{/logout}" >Cerrar Sesión</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}"  th:href="@{/paciente/registro}" id="navbarDropdown" role="button" aria-expanded="false">
                    Registrarse
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " th:if="${session.usuariosession == null}" th:href="@{/login}" id="navbarDropdown" role="button" aria-expanded="false">
                    Ingresar
                </a>

            </li>

        </ul>




    </div>
</nav>
